.main {
    display: flex;

    .aside {
        display: block;
        background-color: #E1E5E6;
        width: 526px;
        padding: 200px 50px;

        .asideHeader {
        
        }
    
        .asideText {
    
        }
    }

}