.header {
	background-color: #000000d3;
	padding: 0 20px;
	align-items: center;
	height: 70px;

	.list {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 400px;
		list-style: none;
	}
  }