@import '../../../styles/base.scss';
@import '../../../styles/components.scss';

.main {
    @include container;

    .header {
        @include header-style;
        text-align: center;
        padding-top: 50px;
    }

    .form {
        @include form-style;
        padding-top: 40px;

        .label {
            margin-bottom: 5px; 
        }

        .button {
            @include button-style;
            width: 150px;
            height: 30px;
            margin-top: 10px;
        }

        .button:hover {
            @include button-hover;
        }

        .input {
            @include input-style; 
        }

        .errorMsg {
            @include text-style;
        }

        .select {
            @include select;
        }
    }

    .msg {
        @include text-style;
        text-align: center;
        padding-top: 290px;
    }
}